{% extends 'base.html'  %}
{% load static %}

{% block content %}


	    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About Us <i class="ion-ios-arrow-forward"></i></span><span>Mission / Background <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<!-- <section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container" >
				<div class="row">
					<div class="col-md-3 order-md-last wrap-about py-5 wrap-about bg-light">
						<div class="text px-4 ftco-animate">
	          	<h1 class="mb-4" style="text-align: center; color:#069;">Mission and Background</h1>
							
							 <p><a href="#" class="btn btn-secondary px-4 py-3">Read More</a></p> 
						</div>
					</div>
					<div class="col-md-9 wrap-about py-5 pr-md-4 ftco-animate">
          	<h3 class="mb-4">Unity Center seeks to build hope and opportunity by promoting educational, social and spiritual growth for all.</h3>
			  <p>Unity Center was organized in 1998 as an outreach ministry of Broad Street United Methodist Church. In 1999, the ministry organized to begin offering summer day camps and a 2-day
				   per week after school program (FUTURE - Fun at Unity Totally United Reaching for Excellence) with an average attendance of 15.</p>
			  <p>In addition to the FUTURE After School Program, the Unity Center ministry hosted family activities centered around holidays and in 2000 began the first Unity Community Choir.</p>			
			  <p>During the period of 2001 to 2011 there were several highlights: the 1st Teacher Tea, adding 2 additional days to the FUTURE After School Program, the organization of a 
				  Youth Leader Program and the DAWN (Disciples Acting With Nobility)Youth Program, partnerships with Lee University for tutors and interns, Dressed for Success program began, Youth Leader trip to Washington 
				  DC for citizenship seminars, and a Piano Lab was added. Average attendance had grown to 62.</p>
				<p>Several building renovations and additions have taken place as well: in 2001 the previous sanctuary was converted and renovated to become the Community Building. In 2008 we 
					completed a complete renovation of the basement and upstairs entrance of the Community Building. In 2010 we acquired adjoining property on the North East side of the Community Building. 
					This area has become a playfield and is also used for extra parking in large events. In 2013, the building located at 1030 6th Street was renovated and opened as the Unity Center Melting Pot. 
					It houses offices and meeting space for the youth group and adult classes. In 2014, an addition to the Home Place was completed, this included a new kitchen, new bathrooms, and storage space. 
					With this final addition, capacity availability was increased for the FUTURE After School program.</p>			
				<p>In the period of 2012-the present there are additional highlights: an additional trip to Washington DC for selected youth leaders, a snack preparation team was added, a program for immigration 
					advocacy and support was added. Average attendance in the after-school program has grown to over 90.</p>		
				<p>There are many goals, plans and dreams for the future of the Unity Center ministry. We are thankful to the countless individuals and groups who have believed and believe in this ministry. 
					Above all we are thankful to God for everything!!</p>
				</div>
				</div>
			</div>
		</section> -->

		<section class="ftco-section">
			<!-- <h2 class="display-4">Mission & background </h2> -->
			<div class="container">
			  <div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
				  <div class="p-5">
					<img class="img-fluid" src="{% static 'images/course-6.jpg' %}" alt="">
				  </div>
				</div>
				<div class="col-lg-6">
				  <div class="p-5">
					<!-- <h2 class="display-4">Mission and Background</h2> -->
					<!-- <h3><a href="#">Language Lesson</a></h3> -->
					<!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p> -->
					<h2 class="display-4">MISSION </h2>
					<h4>Unity Center seeks to build hope and opportunity by promoting educational, social and spiritual growth for all.</h4>
					<p>Unity Center was established in June of 1998 as an outreach ministry of Broad Street United Methodist Church, to build 
						community in East Cleveland.  Unity Center firmly believes in equality and therefore welcomes students of various races, 
						ethnicities, and religious and non-religious affiliations.  The FUTURE After School Program (FUTURE - Fun at Unity Totally 
						United Reaching for Excellence) is a primary program of Unity Center.  It began to provide students in grades K-5 with a 
						safe, caring place to play, learn life skills, enjoy enrichment activities and receive academic assistance.  
						As youth desired to continue to attend as middle and high schoolers, a comprehensive Youth Leadership Development 
						Program was initiated to assist students in 7th grade and beyond in realizing and using their leadership skills both 
						among their peers and within the context of their larger communities.  
						Building a diverse and supportive community of love and nurture continues for both students and families. </p>

					
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		
		  <section>
			<div class="container">
			  <div class="row align-items-center">
				<div class="col-lg-6">
				  <div class="p-5">
					<img class="img-fluid" src="{% static 'images/course-2.jpg' %}" alt="">
				  </div>
				</div>
				<div class="col-lg-6">
				  <div class="p-5">
					<h2 class="display-4">PROGRAM GROWTH</h2>
					<p>In 1999, Unity Center began to offer summer 
						day camps and the FUTURE 2-day per week after school program with an average of 15 students.</p>		
					<p>2000-2005:  1st Community Egg Hunt, 1st Community Choir Program, 1st Skating Party, 1st Teacher Tea, Tutor Training Program began, added 3rd Day, Wonders in the
						 Woods Unity Tent Camps began, renovated sanctuary for usable student space, average attendance 45</p>
				  
					<p>2006-2010:  Renovation of Basement and upstairs bathrooms and entrance of Community Building, 1st Dress for Success, 1st Youth Leader trip to Washington DC, acquired adjoining property for development, added piano lab, DAWN Youth group organized, 
					began affiliation with Lee University to utilize students as tutors, added 4th day, average attendance 60</p>
					<p>2011-2016:  added snack preparation volunteers, became members of TIRRC (Tennessee Immigration Refugee Rights Coalition),  renovated Melting Pot for office space and youth and adult programming, opened playfield, built addition onto Home Place (commercial kitchen, accessible bathrooms, storage), 
					1st Tellus Science Museum Trip for 3rd graders, average attendance 90</p>
					<p>2017-Present:  Purchased and renovated adjoining property and house "House of Dreams" for expanded programing, began partnership with United Way of Ocoee Region and AmeriCorps VISTA program, 
						1st Nashville Trek Enrichment trip for 4th graders, began Story Catchers program, average attendance 92</p>
				</div>
				</div>
			  </div>
			</div>
		  </section>
		
		  <section>
			<div class="container">
			  <div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
				  <div class="p-5">
					<img class="img-fluid " src="{% static 'images/course-4.jpg' %}" alt="">
				  </div>
				</div>
				<div class="col-lg-6 order-lg-1">
				  <div class="p-5">
					<h2 class="display-4">DREAMS for TOMORROW</h2>
					<p>As the Unity Center Community has developed and students graduate, have their own families and return, the challenge of meeting the needs of the future lies before us.  Goals of improving our facilities to make them more safe and secure; adding a fifth day to the after school program and even launching 
						satellite centers in the greater Cleveland community will enable this outreach ministry to continue its impact.</p>		

					
				  </div>
				</div>
			  </div>
			</div>
		  </section>



    {% endblock content %}
