{% extends 'base.html'  %}
{% load static %}

{% block content %}


	    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About Us <i class="ion-ios-arrow-forward"></i></span><span> History <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		

		<!-- <section class="ftco-section">
			<h2 class="display-4">Mission & background </h2>
			<div class="container">
				<div class="row justify-content-center pb-2">
					<div class="col-md-8 text-center heading-section ftco-animate">
						<h2 class="mb-4"><span>Mission and</span> Background</h2>
						<p></p>
					</div>
        		</div>	

			  <div class="row align-items-center">
				<div class="col-lg-6 order-lg-2">
				  <div class="p-5">
					<img class="img-fluid" src="{% static 'images/missionfun2.jpg' %}" alt="">
				  </div>
				</div>
				<div class="col-lg-6">
				  <div class="p-5">
					<h2 class="display-4">Mission and Background</h2> -->
					<!-- <h3><a href="#">Language Lesson</a></h3> -->
					<!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
					<h2 class="display-4">MISSION </h2>
					<h4>Unity Center seeks to build hope and opportunity by promoting educational, social and spiritual growth for all.</h4>
					<p>Unity Center was established in June of 1998 as an outreach ministry of Broad Street United Methodist Church, to build community 
						in East Cleveland. Unity Center firmly believes in equality and therefore welcomes students of various races, ethnicities, and 
						religious and non-religious affiliations. The FUTURE After School Program is a primary program of Unity Center.  Family events 
						throughout the year help develop and nurture the Unity Community. </p>

					
				  </div>
				</div>
			  </div>
			</div>
		  </section> -->

    <section class="ftco-section">
           
        <div class="container">

            <div class="row justify-content-center pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Our </span>History </h2>
                    <p></p>
                </div>
            </div>

            <!-- <h4>Timeline Style : Demo-4</h4> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline4">
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2017</span>
                                <div class="inner-content">
                                    <h3 class="title">2017-Present </h3>
                                    <p class="description">
                                        Purchased and renovated adjoining property and house "House of Dreams" for expanded programing, began partnership with United Way of Ocoee Region and AmeriCorps VISTA program, 1st Nashville Trek Enrichment trip for 4th graders, began Story Catchers program, average attendance 92
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2011</span>
                                <div class="inner-content">
                                    <h3 class="title">2011-2016</h3>
                                    <p class="description">
                                        Added snack preparation volunteers, became members of TIRRC (Tennessee Immigration Refugee Rights Coalition), renovated Melting Pot for office space and youth and adult programming, opened playfield, built addition onto Home Place (commercial kitchen, accessible bathrooms, storage), 1st Tellus Science Museum Trip for 3rd graders, average attendance 90
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2006</span>
                                <div class="inner-content">
                                    <h3 class="title">2006-2010 </h3>
                                    <p class="description">
                                        Renovation of Basement and upstairs bathrooms and entrance of Community Building, 1st Dress for Success, 1st Youth Leader trip to Washington DC, acquired adjoining property for development, added piano lab, DAWN Youth group organized, began affiliation with Lee University to utilize students as tutors, added 4th day, average attendance 60
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2000</span>
                                <div class="inner-content">
                                    <h3 class="title">2000-2005</h3>
                                    <p class="description">
                                        1st Community Egg Hunt, 1st Community Choir Program, 1st Skating Party, 1st Teacher Tea, Tutor Training Program began, added 3rd Day, Wonders in the Woods Unity Tent Camps began, renovated sanctuary for usable student space, average attendance 45
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">1999</span>
                                <div class="inner-content">
                                    <h3 class="title">Begain the Journey</h3>
                                    <p class="description">
                                        In 1999, Unity Center began to offer summer day camps and the FUTURE 2-day per week after school program with an average of 15 students.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
		 


    {% endblock content %}
