{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Future</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Future <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
	  <section class="ftco-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <a href="http://www.bsumc.org/" target="_blank"><img class="img-fluid" src="{% static 'images/broad_street.jpg' %}" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <a href="http://www.bsumc.org/"  target="_blank"><h2 class="display-4">Broad Street United Methodist Church </h2>
              <!-- <h3><a href="http://www.bsumc.org/">Language Lesson</a></h3> -->
              <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p> -->
              </a>
              <p>Broad Street United Methodist Church exists to glorify God through our worship, study, gifts, service, and witness so that all may know God’s love through Jesus Christ.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <a href="https://www.johnstonwoods.org/" target="_blank"><img class="img-fluid" src="{% static 'images/JohnstonWoods.png' %}" alt=""></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <a href="https://www.johnstonwoods.org/"  target="_blank"><h2 class="display-4">Johnston Woods</h2>
                </a>
              <p>It all started in the 1940’s when the Johnston’s family endowed 400 acres of beautiful wooded property.  In the 1980’s, Broad Street United Methodist Church transformed the beautiful property into a retreat and event center.  Since then our team has grown the property and it’s programs to enable a life changing impact for those who visit.  We believe in loving God and each other in nature.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <a href="https://www.unitedwayocoee.org/" target="_blank"><img class="img-fluid" src="{% static 'images/UnitedWay.png' %}" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <a href="https://www.unitedwayocoee.org/"  target="_blank"><h2 class="display-4">United Way </h2>
              <!-- <h3><a href="http://www.bsumc.org/">Language Lesson</a></h3> -->
              <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p> -->
              </a>
              <p>The mission of the United Way of the Ocoee Region is to be a community-based organization that leads the efforts in identifying community needs, facilitating collaboration, and maximizing resources to positively impact our community and surrounding area. Our service area includes Bradley and Polk Counties.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <a href="https://bccsagency.com/" target="_blank"><img class="img-fluid" src="{% static 'images/BCCSA.png' %}" alt=""></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <a href="https://bccsagency.com/"  target="_blank"><h2 class="display-4">Bradley Cleveland Community Services</h2>
                </a>
              <p>Bradley Cleveland Community Services Agency (BCCSA) was established in 1976 as a public, non-profit Community Action Agency for Bradley County, Tennessee. BCCSA currently administers 15 programs, manages three 501c3 organizations and employs a staff up to 100 persons. </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <a href="https://smile.amazon.com/ch/62-0628879" target="_blank"><img class="img-fluid" src="{% static 'images/amazon_smile.jpg' %}" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <a href="https://smile.amazon.com/ch/62-0628879"  target="_blank"><h2 class="display-4">Amazon Smile </h2>
              <!-- <h3><a href="http://www.bsumc.org/">Language Lesson</a></h3> -->
              <!-- <p class="subheading"><span>Class time:</span> 9:00am - 10am</p> -->
              </a>
              <p>Support Unity Center of Broad Street United Methodist Church, when you shop at smile.amazon.com </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}