{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Summer </h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="/ ">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'summer-list' %}">Summer <i class="ion-ios-arrow-forward"></i></a></span> <span>{{ object.title }} <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
      <div class="container">
                  <div class="row pb-2">
                      <div class="col-md-8 heading-section ftco-animate">
                          <h2 class="mb-4"><span>{{ object.title }} </span> </h2>
                          <p></p>
                      </div>
                  </div>	
  
              <div class="row">
                      <div class="col-lg-8 ftco-animate">
                          <!-- <h2 class="mb-3">{{ object.title }}</h2> -->
                          <h3>{{ object.overview }}</h3>
                          <p>
                          <img src="{{ object.image.url}}" alt="" class="img-fluid img-center">
                          </p>
                                  <p>{{ object.content | safe }}</p>                  
                      </div> 
  
                  <div class="col-lg-4 sidebar ftco-animate">
            
  
                  <!-- <div class="sidebar-box ftco-animate">
                  <h3>Tag Cloud</h3>
                  <ul class="tagcloud m-0 p-0">
                      <a href="#" class="tag-cloud-link">School</a>
                      <a href="#" class="tag-cloud-link">Kids</a>
                      <a href="#" class="tag-cloud-link">Nursery</a>
                      <a href="#" class="tag-cloud-link">Daycare</a>
                      <a href="#" class="tag-cloud-link">Care</a>
                      <a href="#" class="tag-cloud-link">Kindergarten</a>
                      <a href="#" class="tag-cloud-link">Teacher</a>
                  </ul>
                  </div> -->
  
                  <div class="sidebar-box ftco-animate">
                      <h3>Programs</h3>
                      <ul class="categories">
                          {% for obj in summer_list %} 
                          <li><a href="{{ obj.get_absolute_url }}">{{obj.title}} <span></span></a></li>
                          <!-- <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                          <li><a href="#">September 2018 <span>(6)</span></a></li>
                          <li><a href="#">August 2018 <span>(8)</span></a></li> -->
                          {% endfor %}
                      </ul>
                  </div>
                  
  
                  <div class="sidebar-box ftco-animate">
                      <h1><a href="{% url 'category_list_pdf' 'summer' %}"   class="btn btn-outline-primary px-4 py-3 mt-3">Registration Forms <span></span></a></h1>
                          <p>Completed registration forms are required for all participating students, including youth leaders. In addition, when transportation is utilized an additional permission form is required.</p>
  
                          <p>Please Note: Completing the registration form does not mean a student is enrolled in the FUTURE After School Program. Notification in the form of a letter from Unity Center will either confirm a starting date or place the child on the waiting list.</p>
                  </div>
              </div>
              </div>
        </div>
  </section>


{% endblock content %}