{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>For connecting with us. Please check your email</strong> We will response to your email as soon as possible.
        </p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  </div>

  {% endblock content %}