{% extends 'base.html' %}
{% load static %}

{% block content %}


    
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Contact Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact Us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section contact-section">
      <div class="container">
        <div class="row d-flex mb-1 contact-info">
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Address</h3>
	            <p>685 Benton Pike NE, Cleveland, TN 37311</p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Contact Number</h3>
	            <p><a href="tel://14234781661">+ 1-423-478-1661</a></p>
              <p><a href="tel://14234646432">+ 1-423-464-6432</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Email Address</h3>
	            <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
	          </div>
          </div>
          <div class="col-md-3 d-flex">
          	<div class="bg-light align-self-stretch box p-4 text-center">
          		<h3 class="mb-4">Website</h3>
	            <p><a href="#">yoursite.com</a></p>
	          </div>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
			<div class="container">
				<div class="row d-flex align-items-stretch no-gutters">
                    {% for facility in facility_list %}
					<div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                            <h1>{{ facility.title }}</h1>
    				</div>
                    {% endfor %}
					<div class="col-md-6 d-flex align-items-stretch bg-light">
					
              <!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=35.1573%2C-84.8591&key=AIzaSyBgP7k6WCja2Vj6Q_xnt4q47XKiA_te-7E" allowfullscreen></iframe> -->
              <!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=35.1573%2C-84.8591&key=AIzaSyBgP7k6WCja2Vj6Q_xnt4q47XKiA_te-7E" allowfullscreen></iframe> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.97118540058!2d-84.86128178457797!3d35.15733936613177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885e2b871c7755bd%3A0x1c0949cdb0c97912!2s685%20Benton%20Pike%20NE%2C%20Cleveland%2C%20TN%2037311!5e0!3m2!1sen!2sus!4v1613066809790!5m2!1sen!2sus" width="600" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>      
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.2691444066313!2d-84.79058748457811!3d35.14990786653414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885e2d9d0d795203%3A0x51ce737d94519eb4!2s863%20Old%20Parksville%20Rd%20NE%2C%20Cleveland%2C%20TN%2037323!5e0!3m2!1sen!2sus!4v1613065024593!5m2!1sen!2sus" width="600" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
					</div>
				</div>
			</div>
		</section>

		
{% endblock content %}