
{% extends 'base.html'  %}
{% load static %}

{% block content %}


	    
    <section class="hero-wrap hero-wrap-2 " style="background-image: url({% static 'images/bg_2.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Gallery</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Gallery<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
	<section class="ftco-gallery mt-5 mb-5">
    	<div class="container-wrap">

        <div class="row no-gutters">
			
        <div class="text-center col-md-12 align-items-center ftco-animate" >
            
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <button class="btn btn-outline-danger" value="Confirm" type="submit">Yes, Delete</button>
                <!-- <input type="submit" value="Confirm"> -->
            </form>

								
        </div>


    	</div>
    </section>

    {% endblock content %}
