    {% load static %}
  
    



    
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2">Have a Questions?</h2>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">Main Buildings:<br/>685 Benton Pike NE, Cleveland, TN 37311</span> </span></li>
                      <li><span class="icon"></span><span class="text">The Melting Pot: <br/> 1030 6th St NE, Cleveland, TN 37311</span></li>
                      <li><span class="icon "></span><span class="text">House of Dreams: <br/>775 Benton Pike NE, Cleveland, TN 37311</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1 423 478 1661 / 423 464 6432</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">clevelandunitycenter@gmail.com</span></a></li>
                    </ul>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                <h2 class="ftco-heading-2">Recent Updates</h2>

                {% for obj in blog_latest_footer %}
                <div class="block-21 mb-4 d-flex">
                  <a href="{{ obj.get_absolute_url }}" class="blog-img mr-4" style="background-image: url({{ obj.thumbnail.url }});"></a>
                  <div class="text">
                    <h3 class="heading"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
                    <div class="meta">
                      <div><a href="#"><span class="icon-calendar"></span> {{ obj.date_posted|timesince }} ago</a></div>
                      <div><a href="{% url 'user-posts' obj.author.username %}">
                        <span class="icon-person">
                        </span> {{ obj.author.first_name }} {{obj.author.last_name }}</a></div>
                      <!-- <div><a href="#"><span class="icon-chat"></span> {{obj.number_of_comments}}</a></div> -->
                    </div>
                  </div>
                </div>
                <!-- <div class="block-21 mb-5 d-flex">
                  <a class="blog-img mr-4" style="background-image: url({% static 'images/image_2.jpg' %});"></a>
                  <div class="text">
                    <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                    <div class="meta">
                      <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2018</a></div>
                      <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                      <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                    </div>
                  </div>
                </div> -->

                {% endfor %}
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5 ml-md-4">
                <h2 class="ftco-heading-2">Links</h2>
                <ul class="list-unstyled">
                  <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                  <li><a href="{% url 'unity-about' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                  <li><a href="{% url 'contact' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                  <li><a href="https://app.easytithe.com/App/Giving/bsumc" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Give Financial Support</a></li>
                  <li><a href=" https://clevelandbradleyfoundation.org/giving/current-funds-we-manage/unity-center-endowment-fund/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Unity Center Endowment Fund</a></li>
                 
                  <li><a href="https://smile.amazon.com/ch/62-0628879" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Suppor through smile.amazon.com</a></li>
                 
                  <li><a href="https://www.johnstonwoods.org/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Johnston Woods</a></li>
                  
                  <li><a href="http://www.bsumc.org/" target="_blank"><span class="ion-ios-arrow-round-forward mr-2"></span>Broad Street United Methodist Church</a></li>
                 
                
                 
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <!-- <h2 class="ftco-heading-2"><a href="{% url 'subscribe' %}">Subscribe Us!</a></h2> -->

                  <h2 class="ftco-heading-2">Subscribe Us!</a></h2>
               
                  <form action="{% url 'subscribe' %}" method="POST">
                  {% csrf_token %}
                 <div class="form-group">
                      {{ form_news }}
                   <!-- <input type="email" name="email" id="email" class="form-control mb-2 text-center" placeholder="Enter email address"> -->
                   <input type="submit" value="Subscribe" class="form-control submit px-3"></input> 
                   
                  </div>
                </form>


              </div>
              <div class="ftco-footer-widget mb-5">
               <h2 class="ftco-heading-2">Connect With Us</h2>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                  <li class="ftco-animate"><a href="https://twitter.com/unitycenter1999" target="_blank"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="http://facebook.com/mary.unity.1" target="_blank"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                  <li class="ftco-animate"><a href="https://youtube.com/channel/UCWVIjecJ4qOwuXEv2gDCgpQ" target="_blank"><span class="icon-youtube"></span></a></li>
                </ul>
              </div>
            </div>

            
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>
      
    
  
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  