{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}



	    
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Admin Login Only</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Admin Login <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      


<section class="ftco-section ftco-no-pt ftc-no-pb col-lg-6 mt-3">
    <div class="container">
    <div class="content-section">
        <form method="POST" class="col-lg-8 offset-lg-4">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 ">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log In</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                
                </small>
            </div>
            
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
               Login for only Adminstration purpose!
                <!-- <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small> -->
        </div>
    </div>
</div>
</section>
{% endblock content %}