{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


	    
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_2.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">logout</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Logout <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
      
<section class="ftco-section ftco-no-pt ftc-no-pb col-lg-6 mt-3">
    <div class="container">
    <div class="content-section">
        <div class="jumbotron text-center">
            <H2>You have been logged out</H2>
            <div class="border-top pt-3">
                
                <small class="text-muted">
                    
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
        
       
    </div>
</div>
</section>



{% endblock content %}